.vs/
Library/ShaderCache/
*.meta
Library/metadata/
Temp/
Library/*.log
*.buildreport
Release/
Library/AssetImportState
Library/CurrentLayout.dwlt
Library/ScriptAssemblies/
Library/assetDatabase3
Library/expandedItems
Library/Collab/
uHeroes.csproj
Assembly-CSharp.csproj
obj/Debug
Library/il2cpp*
Assembly-CSharp-Editor.csproj
MergeTypeInfo.5.9.0p4.asset
CrashedAssetImports.txt
