.vs/
Library/ShaderCache/
*.meta
Library/metadata/
Temp/
Library/*.log
*.buildreport
Release/
Library/AssetImportState
Library/CurrentLayout.dwlt
Library/ScriptAssemblies/
Library/assetDatabase3
Library/expandedItems
